@import "tailwindcss";


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  50% { border-color: transparent }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  width: 0;
  animation: typing 0.8s steps(7, end) forwards, blink 0.7s step-end infinite;
}

html {
  scroll-behavior: smooth;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  animation: gradientMove 10s ease infinite;
}







